image: node:18.14.2

definitions:
  caches:
    sonar: ~/.sonar
  steps:
    - step: &install-dependencies
        name: Install dependencies
        caches:
          - node
        runs-on:
          - self.hosted
          - linux
        script:
          - npm install --legacy-peer-deps
    
    - step: &quality
        name: Quality
        max-time: 5
        clone:
          depth: full
        caches:
          - sonar
        runs-on:
          - self.hosted
          - linux
        script:
          - pipe: sonarsource/sonarqube-scan:2.0.1
            variables:
              SONAR_HOST_URL: ${SONAR_HOST_URL}
              SONAR_TOKEN: ${SONAR_TOKEN}
              SONAR_SCANNER_OPTS: -Xmx512m
          #- pipe: sonarsource/sonarqube-quality-gate:1.0.0
          #  variables:
          #    SONAR_TOKEN: ${SONAR_TOKEN}

    - step: &build-and-test
        name: Build and Test
        runs-on:
          - self.hosted
          - linux
        caches:
          - node
        size: 2x
        script:
          - export REACT_APP_VERSION=${BITBUCKET_BRANCH-${BITBUCKET_TAG}}
          - export REACT_APP_BACKEND_URL=/api
          - export NODE_OPTIONS=--max-old-space-size=4096
          - npm run build
        artifacts:
          - build/**

    - step: &build-docker-image
        name: Build & Push Docker Image
        runs-on:
          - self.hosted
          - linux
        caches:
          - docker
        services:
          - docker
        script:
          - docker login ${DOCKER_REGISTRY_URL} --username=${REPOSITORY_USERNAME} --password=${REPOSITORY_PASSWORD}
          - docker build -f ./deployments/Dockerfile -t ${DOCKER_REGISTRY_URL}/${PROJECT_NAME}:${BITBUCKET_BRANCH-${BITBUCKET_TAG}} .
          - docker push ${DOCKER_REGISTRY_URL}/${PROJECT_NAME}:${BITBUCKET_BRANCH-${BITBUCKET_TAG}}

    - step: &deploy-container
        name: Deploy to Dev
        image: atlassian/default-image:4
        trigger: manual
        runs-on:
          - self.hosted
          - linux
        artifacts:
          download: false
        script:
          - export IMAGE_TAG=${BITBUCKET_BRANCH-${BITBUCKET_TAG}}
          - envsubst < ./deployments/deploy-container.sh > deploy.sh
          - pipe: atlassian/ssh-run:0.8.0
            variables:
              SERVER: ${HOST_URL}
              SSH_USER: ${SSH_USER}
              MODE: 'script'
              COMMAND: 'deploy.sh'

pipelines:
  branches:
    develop:
      - step: *install-dependencies
      - step: *build-and-test
      - step: *quality
      - step: *build-docker-image
      - step:
          <<: *deploy-container
          name: Deploy to Recette
          deployment: recette
    '*':
      - step: *install-dependencies
      - step: *build-and-test
      - step: *quality
  tags:
    '*':
      - step: *install-dependencies
      - step: *build-and-test
      - step: *build-docker-image
      - step:
          <<: *deploy-container
          name: Deploy to Prod
          deployment: prod
  custom:
    deploy-to-formation:
      - step: *install-dependencies
      - step: *build-and-test
      - step: *build-docker-image
      - step:
          <<: *deploy-container
          name: Deploy to Formation
          deployment: formation
    deploy-to-preprod:
      - step: *install-dependencies
      - step: *build-and-test
      - step: *build-docker-image
      - step:
          <<: *deploy-container
          name: Deploy to Preprod
          deployment: preprod